*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-size: 24px;
    align-items: center;
}
.container ul li{
    list-style: none;
    display: inline-block;
    margin-left: 50px;
}